body {
    background-color: #c99999;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgba(36, 33, 33, 0.769)
}
.spin {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}